.container {
    width: 90%;
    /* Tamaño minimo del elemento*/
    min-height: 500px;
    margin: 0 auto;
    border: 2px solid black;
    flex-wrap: wrap;
    align-items: flex-start;
    /* alinea elemento */
    justify-content: space-around;

}
.caja {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja1 {
    border: 2px solid red;
}
.caja2 {
    border: 2px solid yellow;
    align-self: flex-end;
}
.caja3 {
    border: 2px solid royalblue;
    align-self: flex-end;
}
.caja4 {
    border: 2px solid purple;
    align-self: flex-end;
}